html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

iframe {
    position: fixed; /* Position relative to the browser window (viewport) */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
